*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hidden{
    display: none;
} 

div.container{
        display: grid;
        grid-template-columns: 100vw;
        /* grid-template-rows: 1fr 2fr 1.5fr; */
        grid-template-rows: 20vh 60vh 20vh;
        grid-template-areas: "sidebar" "form" "footer";
}

body{
    /*primary colors*/
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);

    /*neutral colors*/
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --labaster: hsl(231, 100%, 99%);

    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;

    background-color: var(--magnolia);
}

div#sidebar{
    grid-area: sidebar;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-repeat: repeat-x;
    object-fit: cover;
    width: 100vw;
}

section.steps ol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 15vh;
    gap: 1rem; 
}

section.steps ol li{
    list-style: none;

    width: 1.5rem;
    height: 1.5rem; 

    border: 1px solid #fff;
    border-radius: 50%;
    
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.steps ol li span{
    color: #fff;
    font-size: .8rem;
}

.steps ol :is(li.active){
    background-color: var(--light-blue);
    border: 1px solid var(--light-blue);
}

.steps ol :is(li.active) span{    
    color: #000;
}

section.form{
    grid-area: form;

    display: flex;
    position: absolute;
    top: 10vh;/*-15*/
    margin: .8rem 1rem 0;

    background-color: #fff;

    border-radius: 1rem;
    padding-bottom: 1rem;
}

div.boundary{
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0;
}

div.boundary > h1,
div.input-area > label{
    color: var(--marine-blue);
}

div.boundary h1 + p{
    color: var(--cool-gray);
    
    margin: 1rem 0;
}

div.input-area{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.input-area input{
   padding: .5rem;

   border: 1px solid var(--cool-gray);
   border-radius: 5px;
}

.btn-options{
    display: flex;
    align-items: center;
    justify-content: start;

    height: 5rem;
    padding: .5rem;

    background-color: transparent;

    border: 1px solid var(--light-gray);
    border-radius: .5rem;
    font-size: .75rem;
}

.btn-options.active{
    animation: fadeIn 1s;
}

.btn-options img {
    height: 3rem;
    max-width: fit-content;
}

.btn-options > p,
.btn-options > span ,
.toogle > p.active{
    color: var(--marine-blue);
    font-weight: 600;  
    max-width: fit-content;
}

.btn-options > span,
.toogle > p{
    color: var(--cool-gray);
}

.btn-options .step-3 {
    width: 16rem;
    height: 2.2rem;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .btn-options .step-3 input{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-block: auto;

    accent-color: var(--purplish-blue);
    
 
    outline: 1px solid var(--light-gray);
} */

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    background-color: white;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}

.extra-info{
    position: absolute;
    width: 16rem;
    height: 2.2rem;
    margin: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    font-weight: 500;
}

.extra-info :first-child{
    color: var(--marine-blue);
    font-size: 1rem;
}

.extra-info span:first-of-type{
    color: var(--cool-gray);
    font-size: .8rem;
}

.btn-options .step-3 span:last-child{
    color: var(--purplish-blue);
    
    font-size: .8rem;

    align-self: end;
    padding: 0 .5rem;
}

.btn-options:not(.active){
    display: none;
}

.toogle{
    margin: 2rem 0;
    padding: .5rem 1rem;
    height: 3rem;

    border-radius: .5rem;
    background-color: var(--magnolia);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
    
.toogle .btnToogle{
    width: 2.5rem;
    height: 1.2rem;
    padding: 0 .2rem;
    background-color: var(--marine-blue);
    border: none;
    border-radius: 1rem;
    transition: padding-left, .5s;
}

.btnToogle > div{
    width: .8rem;
    height: .8rem;
    border: none;
    border-radius: 100%;
    background-color: #FFF;
}

.btnToogle.active{
    padding-left: 25px;
}


.btn-menu{
    grid-area: footer;

    display: flex;
    justify-content: space-between;
    align-items: start;

    padding: .5rem;
    background-color: #FFF;
}

.btn-next,
.btn-back{
    font-weight: 700;
    border: none;
    border-radius: .5rem;

    width: 6rem;
    height: 2.5rem;
}

.bnt-back{
    background-color: transparent;
    color: var(--cool-gray);
}

.btn-next{
    background-color: var(--marine-blue);
    color: #fff;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100 {opacity: 1;}
}

#order-summary{
    background-color: var(--magnolia);

    border-radius: 5px;
    color: var(--cool-gray);

    padding: 1rem .8rem;
}

.summary{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary a{
    color: var(--cool-gray);
    border-bottom: 2px solid var(--cool-gray);
}

.summary:first-of-type a:hover{
    cursor: pointer;
    color: var(--marine-blue);
}

.summary:first-of-type{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--light-gray);
}

.summary:nth-last-child(n + 2){
    margin-bottom: 1rem;
}

#total-price{
    margin-top: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cool-gray);
}

#total-price span:last-child{
    color: var(--marine-blue);
}


/* ========= Tablets and Ipads ===================*/
@media (min-width: 768px) {
  
    body{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;
    }

    div.container{
        width: 60rem;
        height: 37.5rem; 
        padding: 1rem;

        background-color: #fff;
        border-radius: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    section.steps ol{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding: 1rem 2rem 0;
        height: 18.7rem;
    }

    section.steps ol li{
        width: 2.2rem;
        height: 2.2rem;
    }

    div#sidebar{
        width: 16.8rem;
        height: 100%;
        background-image: url(./assets/images/bg-sidebar-desktop.svg);
        object-fit: contain;

        position: relative;
    }

    .step-description{
        position: absolute;
        top: 2rem;
        height: 16rem;
        margin-left: 5rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .step-description div p:first-child{
        color: var(--light-gray);
        font-size: .75rem;
    }

    .step-description div p:nth-child(2){
        font-weight: 500;
        color: #fff;
    }

    section.form{
        position: relative;
        top: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-self: flex-start;
    }

    div.boundary > h1{
        font-size: 2rem;
    }

    div.boundary, 
    .btn-menu{
        padding: 0;
        width: 31.25rem;
    }

    .btn-menu{
        padding: 0 1rem;
    }

    #order-summary,
    #total-price{
        font-size: 1.2rem;
    }
   
    
}  